<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>succubus_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{189,179}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,12},{189,179}}</string>
                <key>sourceSize</key>
                <string>{193,201}</string>
            </dict>
            <key>succubus_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,2},{176,185}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{176,185}}</string>
                <key>sourceSize</key>
                <string>{194,201}</string>
            </dict>
            <key>succubus_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,189},{181,159}}</string>
                <key>offset</key>
                <string>{-5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,33},{181,159}}</string>
                <key>sourceSize</key>
                <string>{193,201}</string>
            </dict>
            <key>succubus_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,189},{196,147}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,43},{196,147}}</string>
                <key>sourceSize</key>
                <string>{202,201}</string>
            </dict>
            <key>succubus_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{185,147}}</string>
                <key>offset</key>
                <string>{-2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,44},{185,147}}</string>
                <key>sourceSize</key>
                <string>{193,201}</string>
            </dict>
            <key>succubus_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,350},{181,147}}</string>
                <key>offset</key>
                <string>{2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,44},{181,147}}</string>
                <key>sourceSize</key>
                <string>{185,201}</string>
            </dict>
            <key>succubus_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,499},{189,181}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{189,181}}</string>
                <key>sourceSize</key>
                <string>{193,201}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>demon_monster_left.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a33a1a51e3d3fa042d962809ae4e4a8e$</string>
            <key>textureFileName</key>
            <string>demon_monster_left.png</string>
        </dict>
    </dict>
</plist>
